.production {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	
	@include mobile {
		row-gap: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 40px;
		padding: 25px 30px;
		border: 1px solid var(--gray-300);

		@include mobile {
			padding: 10px 15px;
			
		}
	}

	&__item-text {
		@include fluid-text(16, 24);

		font-family: var(--font-family-base);
		line-height: 1.5;

		p {
			width: 70%;

			@include mobile {
				width: 100%;
			}
		}
	}

	&__item-image {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		padding: 20px;
		width: 120px;
		aspect-ratio: 1 / 1;
		border-radius: var(--border-radius);
		background: var(--primary-500);

		img {
			height: 100%;
		}

		@include mobile {
			width: 60px;
			padding: 10px;
			border-radius: var(--border-radius-small);
		}
	}
}
